.logo {
    height: 75px;
}

.navbar {
    padding:15px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f5f5f5;
}

.homeButton {
    display: flex;
}
.homeButton:hover{
    cursor:pointer;
}

.navTable {
    width: 100%;
}

.navLink {
    color: black !important;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-wrap: wrap;
}

.navTable td {
    width: fit-content;
    color: black;
    padding: 0 2%;
    text-align: center;
    border: 1px #f5f5f5;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
}