.logo {
    height: 75px;
}

.navbar {
    padding:15px;
}

.homeButton {
    display: flex;
}
.homeButton:hover{
    cursor:pointer;
}

.navTable {
    width: 100%;
}

.navLink {
    color: black !important;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-wrap: wrap;
}

.navTable td {
    width: fit-content;
    color: black;
    padding: 0 2%;
    text-align: center;
    /* border: 1px solid black; */
}

body {
    font-family: 'Courier New', Courier, monospace;
}