/* ===========================  CSS Variables ========================= */
:root {
    --background-color: #f5f5f5;
    --text-color: #000;
    --link-color: #ae1717;
    --invert: 0;
    --rushBtn: #f5f5f5;
    --igLogo: url('/public/images/ig.png');
    --hover-color: #bbb;
    --footer-color: #004B23;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1d1d1d;
        --text-color: #fff;
        --link-color: #f03434;
        --invert: 1;
        --rushBtn: white;
        /* --igLogo: url('/public/images/igInvert.png'); */
        --hover-color: #444;
        --footer-color: #af912c;
    }
}

/* =========================== Generic CSS ========================= */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}
html, body, #root {
    height: 100%;
    margin: 0;
}
#root {
    display: grid;
    grid-template-areas:
    "header"
    "middle"
    "footer";
    grid-template-rows: auto 1fr auto;
}
main {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: middle;
    padding: 20px; /* Optional padding for better spacing */
    box-sizing: border-box;
    min-height: 1fr;
}
.card {
    /* border: 1px solid var(--text-color); */
    width: 200px;
    margin: 0 10px;
    text-wrap: wrap;
}
.easyLink {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}
.easyLink:hover {
    color: var(--link-color);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    grid-area: footer;
    background-color: var(--footer-color);
    color: var(--background-color);

}
footer .IG {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.divider {
    border: 1px solid var(--text-color);
    width: 100%;
    margin: 10px 0;
}

/* =========================== Home Page ========================= */
.main {
    display: grid;
    grid-template-areas: 
    "left left header header right right"
    "left left center center right right"
    "left left center center right right"
    "bottom bottom bottom bottom bottom bottom";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
    width: 100%;
}
.main h1{
    grid-area: header;
}
.main .right {
    grid-area: right;
    width: 100%;
    height: 100%;
}
.eventPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--text-color);
    padding: 0 20px 20px 20px;
    height: 100%;
    border-radius: 10px;
}
.eventCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    max-height: 400px;
}
.eventCards a {
    text-decoration: none;
    min-width: fit-content;
    width: 100%;
}
.eventCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 100px;
    padding: 2.5%;
    border: 1px solid red;
    border-radius: 10px;
}
.eventCards a:not(:last-child) {
    margin-bottom: 10px;
}
.eventCard > img {
    max-width: 18%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-right: 4%;
}
.eventCard > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1; /* Allow the event details to take up the remaining space */
    color: var(--text-color);
    text-decoration: none;
}
.eventCard p {
    margin: 0;
    text-align:start;
}
.eventCard div.location {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eventCard div.location > img {
    height: 1em;
    max-width: fit-content;
    filter: invert(var(--invert));
    object-fit: contain;
    
}
.eventCard:hover {
    background-color: var(--hover-color);
}
.eventCard .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* =========================== About Us Page ========================= */
.aboutBasic {
    max-width: 80%;
    align-self: center;
}
.aboutPageImg {
    max-height: 425px;
    max-width: 90%;
    border-radius: 3%;
}
.ExecContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width:1500px;
}
.ExecContainer > .card {
    width: 20%;
}
.story {
    width: 1fr;
    padding: 30px 1%;
}
.storyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1fr; /* Adjust based on your content */
}
.column {
    width: 50%; /* Adjust based on gutter space */
    padding: 20px;
    height: 300px; /* Adjust based on your content */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column > * {
    max-width: 90%;
    margin: auto;

}
.convergeCon {
    position: relative;
    height: 50px; /* Adjust based on your needs */
    width: 200px;  /* Adjust based on your needs */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items at the bottom */
    margin-bottom: 75px;
}
.diagonal {
    position: absolute;
    width: 1px; /* Line thickness */
    height: 350px; /* Adjust based on your needs */
    background-color: var(--text-color); /* Line color */
    transform-origin: bottom;
}
.diagonal.left {
    transform: rotate(80deg); /* Adjust angle based on your needs */
    bottom: 0;
    left: 50%;
}
.diagonal.right {
    transform: rotate(-80deg); /* Adjust angle based on your needs */
    bottom: 0;
    right: 50%;
}
.convertical {
    position: absolute;
    height: 75px; /* Height of the vertical section */
    width: 1px; /* Line thickness */
    background-color: var(--text-color); /* Line color */
    /* bottom: 0; Align at the bottom */
    top: 100%;
}
.vertical {
    height: 75px;
    width: 1px;
    background-color: var(--text-color);
    margin: auto;
}

/* =========================== Rush Page ========================= */
.rushPic {
    max-height: 425px;
    max-width: 90%;
    height: auto;
    border-radius: 3%;
}
.committeeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.committee {
    display: flex;
    flex-direction: row;
}
.aboutRush {
    display:flex;
    justify-content: center;
    align-items: center;
}
.aboutRush > p {
    font-size: larger;
}
.aboutRush > * {
    max-width: 45%;
    text-wrap: wrap;
    margin: 1% 5%;

}
.aboutRush > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card a {
    position: relative;
}
.profilePic {
    border-radius: 10px;
    height: 200px;
    width: auto;
}
.emailIcon {
    position: absolute;
    top: 50%;  /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjusts the position to truly center the icon */
    width: 100px; /* Size of the icon */
    height: auto;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}
.card:hover img.emailIcon {
    opacity: 0.8; /* Show the icon on hover */
}
.rushFormBtn {
    text-decoration: none;
    max-width: 50%;
}
.rushFormBtn > p {
    background-color: #a31717;
    color: var(--rushBtn);
    font-weight: bold;
    width: 100%;
    border-radius: 3%;
    padding: 3%;
}

/* ======================== Directory Page ======================= */
.directoryContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.topBar {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap: wrap;
}
.topBar > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topBar > div > * {
    width:fit-content;
}
.directory {
    width: 80%;
}
.directoryRow {
    height: fit-content;
    vertical-align: top;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.directoryRow > td {
    width: 25%;
}
.directoryRow .card {
    width: 100%;
}
.famTreeBtn {
    color: var(--background-color);
    text-decoration: none;
    cursor: pointer;
    background-color: #a31717;
    border-radius: 5%;
    margin-left: 50%;
    width: fit-content;
}
.famTreeBtn > h3 {
    text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--text-color), -1px 1px 0 var(--text-color), 1px 1px 0 var(--text-color);
}

/* ======================= Family Tree Page ====================== */


/* ======================= Navbar ====================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 900;
    background-color: var(--background-color);
    grid-area: header;
    padding-top: 10px;
}
.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.homeButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
    color: var(--text-color);
    text-align: center;
}
.homeButton:hover h3 {
    color: var(--link-color)
}
.homeButton:hover .logo {
    filter: invert(0);
    content: url('/public/images/crestC.png');
}
.navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navLink {
    text-decoration: none;
    margin: 0 10px;
    color: var(--text-color);
    text-align: center;
    padding: 0 25px;
    height:fit-content;
    width: fit-content;
    /* border: 1px solid var(--text-color); */
}
.navLink:hover {
    color:var(--link-color)
}
.logo {
    height: 75px;
    margin-right: 20px;
    filter: invert(var(--invert));
    content: url('/public/images/crestBW.png');
}
.dropButton {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.dropdown {
    position: absolute;
    z-index: 1001;
    left: 50%;
    top: 100%;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    min-width: 75%;
    width: fit-content;
    max-width: 120%;
} 
.dropdown .navLink {
    height: fit-content;
    padding: 0 10px;
    margin: 0;
}

/* ======================= Footer ====================== */
.smLogo {
    height: 50px;
    margin: 20px;
    content: var(--igLogo);
}


/* ======================= Login Page ====================== */
.loginContainer {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginLogo {
    max-height: 10% !important;
}
.loginForm {
    border: 1px solid var(--text-color);
    padding: 0 25px 25px 25px;
}
.loginForm > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.loginForm > div > input {
    max-height: fit-content;
}

/* ======================= Event Create Page ====================== */
.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.create * {
    margin: 1% auto;
}
.field {
    display: inline-flex;
    width: 100%;
}
.field label {
    width: fit-content;
    padding-right: 2%;
}
.field input, .field select, .field textarea {
    width: 100%;
    resize: none;
}
.longtext {
    display: flex;
    flex-direction: column;
}
.longtext * {
    margin: 0;
}

/* ======================= Event Details Page ====================== */
.event {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "title graphic"
    "content graphic"
    "similar location";
    width: 100%;
    height: 120vh;
}
.event > .poster {
    grid-area: graphic;
    width: auto;
    max-height: 50vh;
    margin-bottom: 20px;
}
.event > .poster img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.event > .title {
    grid-area: title;
    text-align: center;
    font-weight: bold;
    height: fit-content;
}
.event > .title > .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.event > .event-details {
    grid-area: content;
    display: flex;
    flex-direction: column;
}
.event > .event-details > .description {
    font-size: larger;
}
.event > .location {
    grid-area: location;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.event > .location .map {
    height: 300px;
    width: 300px;
    border: 1px solid var(--text-color);
}
.event > .similar {
    grid-area: similar;
    text-align: center;
    display:flex;
    flex-direction: column;
}
.event > .similar > .similar-events {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: fit-content;
    padding: .5vh;
    border: 1px solid black;
    border-radius: 10px;
}
.event > .similar > .similar-events > a {
    text-decoration: none;
}
.event > .similar .eventCard {
    display: grid;
    grid-template-areas: 
    "poster"
    "info";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 12vw;
    height: 12vw;
    padding: 2.5%;
    border: 1px solid red;
    border-radius: 10px;
    min-height: fit-content;
}
.event > .similar .eventCard > div {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.event > .similar .eventCard > div * {
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.event > .similar .eventCard > img {
    grid-area: poster;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 50%;
}