/* ===========================  CSS Variables ========================= */
:root {
    --background-color: #f5f5f5;
    --text-color: black;
    --link-color: #ae1717;
    --invert: 0;
    --rushBtn: #f5f5f5;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1d1d1d;
        --text-color: white;
        --link-color: #f03434;
        --invert: 1;
        --rushBtn: white;
    }
}

/* =========================== Generic CSS ========================= */
.container {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    /* border: 1px solid var(--text-color); */
    width: 200px;
    padding:0 10px;
    text-wrap: wrap;
}
.easyLink {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}
.easyLink:hover {
    color: var(--link-color);
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* =========================== About Us Page ========================= */


/* =========================== About Us Page ========================= */
.aboutBasic {
    max-width: 80%;
    align-self: center;
}
.mainPageImg {
    max-height: 425px;
    max-width: 90%;
    border-radius: 3%;
}
.ExecContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width:1500px;
}
.ExecContainer > .card {
    width: 20%;
}
.storyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 400px; /* Adjust based on your content */
}
.column {
    width: 50%; /* Adjust based on gutter space */
    padding: 20px;
    height: 300px; /* Adjust based on your content */
}
.column > p {
    max-width: 90%;
}
.convergeCon {
    position: relative;
    height: 50px; /* Adjust based on your needs */
    width: 200px;  /* Adjust based on your needs */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items at the bottom */
    margin-bottom: 75px;
}
.diagonal {
    position: absolute;
    width: 1px; /* Line thickness */
    height: 350px; /* Adjust based on your needs */
    background-color: var(--text-color); /* Line color */
    transform-origin: bottom;
}
.diagonal.left {
    transform: rotate(80deg); /* Adjust angle based on your needs */
    bottom: 0;
    left: 50%;
}
.diagonal.right {
    transform: rotate(-80deg); /* Adjust angle based on your needs */
    bottom: 0;
    right: 50%;
}
.convertical {
    position: absolute;
    height: 75px; /* Height of the vertical section */
    width: 1px; /* Line thickness */
    background-color: var(--text-color); /* Line color */
    /* bottom: 0; Align at the bottom */
    top: 100%;
}
.vertical {
    height: 75px;
    width: 1px;
    background-color: var(--text-color);
    margin: auto;
}

/* =========================== Rush Page ========================= */
.rushPic {
    max-height: 425px;
    max-width: 90%;
    height: auto;
    border-radius: 3%;
}
.committeeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.committee {
    display: flex;
    flex-direction: row;
}
.aboutRush {
    display:flex;
    justify-content: center;
    align-items: center;
}
.aboutRush > p {
    font-size: larger;
}
.aboutRush > * {
    max-width: 45%;
    text-wrap: wrap;
    margin: 1% 5%;

}
.aboutRush > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card a {
    position: relative;
}
.profilePic {
    border-radius: 10px;
    height: 200px;
    width: auto;
}
.emailIcon {
    position: absolute;
    top: 50%;  /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjusts the position to truly center the icon */
    width: 100px; /* Size of the icon */
    height: auto;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}
.card:hover img.emailIcon {
    opacity: 0.8; /* Show the icon on hover */
}
.rushFormBtn {
    text-decoration: none;
    max-width: 50%;
}
.rushFormBtn > p {
    background-color: #a31717;
    color: var(--rushBtn);
    font-weight: bold;
    width: 100%;
    border-radius: 3%;
    padding: 3%;
}

/* ======================== Directory Page ======================= */
.topBar {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap: wrap;
}
.topBar > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topBar > div > * {
    width:fit-content;
}
.directory {
    width: 80%;
}
.directoryRow {
    height: fit-content;
    vertical-align: top;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.directoryRow > td {
    width: 25%;
}
.directoryRow .card {
    width: 100%;
}
.famTreeBtn {
    color: var(--background-color);
    text-decoration: none;
    cursor: pointer;
    background-color: #a31717;
    border-radius: 5%;
    margin-left: 50%;
    width: fit-content;
}
.famTreeBtn > h3 {
    text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--text-color), -1px 1px 0 var(--text-color), 1px 1px 0 var(--text-color);
}

/* ======================= Family Tree Page ====================== */


/* ======================= Navbar ====================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 900;
    background-color: var(--background-color);
}
.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.homeButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
    color: var(--text-color);
    text-align: center;
}
.homeButton:hover h3 {
    color: var(--link-color)
}
.homeButton:hover .logo {
    filter: invert(0);
}
.navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navLink {
    text-decoration: none;
    margin: 0 10px;
    color: var(--text-color);
    text-align: center;
    padding: 0 25px;
    height:fit-content;
    width: fit-content;
    /* border: 1px solid var(--text-color); */
}
.navLink:hover {
    color:var(--link-color)
}
.logo {
    height: 75px;
    margin-right: 20px;
    filter: invert(var(--invert));
}
.dropButton {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.dropdown {
    position: absolute;
    z-index: 1001;
    left: 50%;
    top: 100%;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
} 
.dropdown .navLink {
    height: fit-content;
    padding: 0 10px;
    margin: 0;
}

/* ======================= Login Page ====================== */
.loginContainer {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}
.loginLogo {
    max-height: 10% !important;
}
.loginForm {
    border: 1px solid var(--text-color);
    padding: 0 25px 25px 25px;
}
.loginForm > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.loginForm > div > input {
    max-height: fit-content;
}