.committeeList > * {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color);
}

.gs-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    align-items: center;
    .gs-subcomponents {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        > * {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: fit-content;
            column-gap: 20px;
        }
    }
    .minutes-dashboard {
        border: 1px solid var(--border-color);
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        overflow-y: auto;
        div {
            align-items: center;
            display: flex;
            justify-content: left;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            th, td {
                border: 1px solid var(--border-color);
                padding: 8px;
                text-align: center;
            }
            tbody > tr:nth-child(odd) {
                background-color: var(--alt-bg-color);
            }
        }
    }
    .gs-outline {
        border: 1px solid var(--border-color);
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        p {
            margin-bottom: 10px;
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
            align-items: center;
            display: flex;
            flex-direction: column;
            li {
                margin-bottom: 5px;
                width: fit-content;
            }
        }
    }
}