.dirContainer {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
}

.topBar {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap: wrap;
}

.topBar > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBar > div > * {
    width:fit-content;
}

.famTree {
    color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
    background-color: #a31717;
    border-radius: 5%;
    margin-left: 50%;
    width: fit-content;
}

.famTree > h3 {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}