.homeContainer {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
}

.aboutHome {
    max-width: 80%;
    align-self: center;
}

.mainPageImg {
    max-height: 425px;
    max-width: 90%;
}
.ExecContainer {
    display: flex;
    flex-direction: row;
}

.card {
    /* border: 1px solid black; */
    width: 200px;
    text-wrap: wrap;
}

.homeContainer img {
    border-radius: 3%;
}