.container {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rushPic {
    max-height: 425px;
    max-width: 90%;
    height: auto;
}
