.container {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
}

.rushPic {
    max-height: 425px;
    max-width: 90%;
    height: auto;
}

.rushContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.committee {
    display: flex;
    flex-direction: row;
}

.aboutRush {
    display:flex;
}

.aboutRush > p {
    font-size: larger;
}

.aboutRush > p, .aboutRush > img {
    max-width: 45%;
    text-wrap:  wrap;
    margin: 5%;
}

.card {
    /* border: 1px solid black; */
    width: 200px;
    text-wrap: wrap;
}

.card a {
    position: relative;
}

.profilePic {
    border-radius: 10px;
    height: 200px;
    width: auto;
}

.emailIcon {
    position: absolute;
    top: 50%;  /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjusts the position to truly center the icon */
    width: 100px; /* Size of the icon */
    height: auto;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}

.card:hover img.emailIcon {
    opacity: 0.8; /* Show the icon on hover */
}

